.grillaindex{
	ol{
		li{
			text-decoration: none;
		}
		
	}
	display: grid;
	width: 75%;
	height: 75%;
	color: white;
	grid-template-columns: 100%;
	background-image: linear-gradient(to bottom, #d4f6ff, #d4f6ff, #d4f6ff, black, black);
	grid-template-rows: 150px 250px 250px 150px;
	grid-template-areas:
	"header"
	"botont"
	"exp"
	"footer"; 
}

.grillaheader{
	grid-area: header;
}

.grillabotont{
	grid-area: botont;
}

.grillaexp{
	grid-area: exp;
}

.grillafooter{
	grid-area: footer;
}